@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

.input-width {
  width: 33rem;
}
@media only screen and (max-width: 545px) {
  .input-width {
    width: 25rem;
  }
}

@media only screen and (max-width: 420px) {
  .input-width {
    width: 17rem;
  }
}

@media only screen and (max-width: 30px) {
  .input-width {
    width: 10rem;
  }
}